

body,
html {
  width: 100%;
  height: 100%; 
}

body {
	background-image: url(venus.jpg);
	background-size: cover;
	margin: 0px;

}

.container {
	justify-content: center;
	margin-right: 500px;
}

p {
	text-align: center;
	cursor: pointer;
	color: white;
}

p {
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 100%;
	font-family: 'Poiret One', cursive;
	color: white;
}

img {
	float: left;
}

footer {
	clear: both;
	text-align: center;
	color: white;
}

footer:hover {
	transform: scale(1.5);
	transition: all 1s;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border:10px dashed black;
}

.active {
	color: orange
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}




